# uvicorn
HOST="0.0.0.0"
PORT=5000
RELOAD=False
WORKERS=1

# mongo
TAUTH_MONGODB_URI="mongodb://localhost:27017/"
TAUTH_MONGODB_DBNAME="tauth"

# Auth: MELT API key
TAUTH_ROOT_API_KEY="MELT_/--default--1"

# Auth: Auth0
ENABLE_AUTH0=True
AUTH0_AUDIENCE=
AUTH0_DOMAIN=

# Auth: Azure
ENABLE_AZURE=True
AZURE_AD_AUDIENCE="api://"
AZURE_AD_TENANT=""
